@import 'fonts';
@import 'icons';

$fontFamily: 'Gilroy';
$fontSize: 16;

$minWidth: 320px;
// $maxWidth: 1920px;
$maxWidth: 1440;
// $maxWidthContainer: 1170;
$maxWidthContainer: 1240+30;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3A3A3A;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;

body {
    color: $mainColor;
    font-family: $fontFamily;
    font-size: 14px;

    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &._loaded {}
}

._container {
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

._ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.btn {
    display: inline-flex;
    justify-content: center;
    padding: 0 15px;
    align-items: center;
    text-align: center;
    transition: all .3s ease 0s;
    min-height: 48px;

    &_white {
        background-color: #fff;
        color: $orangeColor;

        @media (any-hover: hover) {
            &:hover {
                background-color: $orangeColor;
                color: #fff;
            }
        }
    }
}

._flyImage._ibg {
    opacity: 1;
    position: fixed;
    z-index: 100;
    transition: all 1s ease 0s;
}

._title {
    font-size: min(calc(24px + (40 - 24) * ((100vw - 320px) / (1440 - 320))), 40px);
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

._swiper {
    overflow: hidden
}

@import 'header';
@import 'footer';


.page {
    flex: 1 1 auto;

    &__main-slider {}

    &__advantages {}

    &__products {}

    &__rooms {}

    &__tips {}
}

// ==================================================================================================================

.main-slider {
    background-color: #fcf8f3;

    &__container {
        position: relative;

        @media (min-width: $md2+px) {
            &::before {
                content: '';
                background-color: #f9f1e7;
                position: absolute;
                top: 0;
                width: 100vw;
                right: 376px;
                height: 100%;
            }
        }
    }

    &__body {
        padding: 140px 0 0 0;
        position: relative;
        z-index: 2;

        @media (max-width: $md2+px) {
            padding: 80px 0 0 0;
        }

        @media (max-width: $md3+px) {
            padding: 50px 0 0 0;
        }

        @media (min-width: $md2+px) {
            display: flex;
        }
    }

    &__content {
        align-self: flex-start;
        flex: 0 0 calc(494 / 1240 * 100%);
        margin-bottom: min(calc(15px + (80 - 15) * ((100vw - 320px) / (1440 - 320))), 80px);

        @media (max-width: $md2+px) {
            margin: 0 -15px;
        }
    }

    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-end;

        @media (min-width: $md2+px) {
            padding: 0 0 0 32px;
        }
    }
}

.content-main {
    position: relative;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    padding-top: min(calc(15px + (60 - 15) * ((100vw - 320px) / (1440 - 320))), 60px);
    padding-bottom: min(calc(15px + (60 - 15) * ((100vw - 320px) / (1440 - 320))), 60px);

    @media (min-width: $md2+px) {
        padding: min(calc(1px + (60 - 1) * ((100vw - 320px) / (1440 - 320))), 60px);
        background-color: rgba(255, 255, 255, .9);

        // if browser supports 'backdrop-filter' then use it otherwise bg-c
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background-color: rgba(255, 255, 255, .72);
            backdrop-filter: blur(31px);
        }
    }

    &__title {
        font-size: min(calc(24px + (56 - 24) * ((100vw - 320px) / (1440 - 320))), 56px);
        font-weight: 700;
        line-height: 120%;

        &:not(:last-child) {
            margin: 0 0 calc(16px / 56px * 1em) 0;
        }
    }

    &__text {
        font-size: min(calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320))), 20px);
        color: $grayColor;
        font-weight: 500;
        line-height: 150%;

        &:not(:last-child) {
            margin: 0 0 calc(48px / 20px * 1em) 0;
        }
    }

    &__button {
        font-weight: 600;
        color: #fff;
        width: 100%;
        background-color: $orangeColor;
        min-height: min(calc(45px + (78 - 45) * ((100vw - 320px) / (1440 - 320))), 78px);
        font-size: min(calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320))), 20px);

        @media (any-hover: hover) {
            &:hover {
                background-color: #966749;
            }
        }
    }
}

.slider-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $md2+px) {
        align-items: stretch;
        flex-direction: column-reverse;
    }

    &__controls {
        align-self: stretch;
        margin: 0px 0px 20px 0px;

        @media (max-width: $md2+px) {
            margin: 10px 0px 20px 0px;
        }
    }

    &__body {
        overflow: visible;

        @media (min-width: $md2+px) {
            width: min(calc(290px + (934 - 290) * ((100vw - 320px) / (1440 - 320))), 934px);
        }


        @media (max-width: $md2+px) {
            margin: 0 -15px;
        }
    }

    &__slide {
        position: relative;
    }

    &__image {
        padding: 0 0 59.1% 0;
    }

    &__content {
        min-width: 295px;
        max-height: 300px;
        overflow: auto;
        color: inherit;
        display: flex;
        flex-direction: column;
        padding: min(calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320))), 24px);

        @media (min-width: $md3+px) {
            position: absolute;
            min-width: 350px;
            bottom: min(calc(0px + (40 - 0) * ((100vw - 320px) / (1440 - 320))), 40px);
            right: min(calc(0px + (40 - 0) * ((100vw - 320px) / (1440 - 320))), 40px);

            // if browser supports 'backdrop-filter' then use it otherwise bg-c
            @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
                background-color: rgba(255, 255, 255, .72);
                backdrop-filter: blur(31px);
            }
        }
    }

    &__title {
        font-size: min(calc(22px + (28 - 22) * ((100vw - 320px) / (1440 - 320))), 28px);
        font-weight: 600;
        line-height: 120%;
        margin: 0 0 calc(4px / 28px * 1em) 0;

        &:not(:last-child) {
            margin: 0 0 calc(8pc / 16pc * 1em) 0;
        }
    }

    &__text {
        line-height: 150%;
        color: $grayColor;

        &:not(:last-child) {
            margin: 0 0 calc(8pc / 16pc * 1em) 0;
        }
    }

    &__price {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: min(calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320))), 20px);
        line-height: 150%;
        align-items: center;
        font-weight: 600;

        &::before {
            margin: 0 0 0 10px;
            font-size: 12px;
        }
    }
}

.slider-arrows {
    display: grid;
    grid-template-columns: repeat(2, 48px);
    column-gap: 8px;
}

.slider-arrow {
    pointer-events: auto;
    border-radius: 50%;
    height: 48px;
    color: $orangeColor;
    background-color: rgba(232, 153, 113, .3);
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease 0s;

    &_prev {
        &::before {
            transform: rotate(90deg);
        }
    }

    &_next {
        &::before {
            transform: rotate(-90deg);
        }
    }

    @media (any-hover: hover) {
        &:hover {
            color: #fff;
            background-color: rgba(232, 153, 113, 1);
        }
    }

    &_white {
        box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, .16);
        background-color: #fff;

        @media (any-hover: hover) {
            &:hover {
                background-color: $orangeColor;
                color: #fff;
            }
        }
    }
}

.controls-slider-main {
    display: flex;
    align-items: center;

    &__dots {
        flex: 1 1 auto;

        @media (max-width: $md2+px) {
            justify-content: center;
        }
    }

    &__arrows {
        @media (max-width: $md2+px) {
            display: none;
        }
    }
}

// ==================================================================================================================

.swiper-pagination-bullets {
    display: flex;
    flex-wrap: wrap;
}

.swiper-pagination-bullet {
    cursor: pointer;
    flex: 0 0 27px;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;

    &:not(:last-child) {
        margin-right: 12px;
    }

    &::after {
        content: '';
        width: 11px;
        height: 11px;
        background-color: #d8d8d8;
        border-radius: 50%;
        transition: background-color .3s ease 0s;
    }

    &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $orangeColor;
        transition: transform .3s ease 0s;
        transform: scale(0);
    }
}

.swiper-pagination-bullet-active {
    &::after {
        background-color: $orangeColor;
    }

    &::before {
        transform: scale(1);
    }
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    // height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

// ==================================================================================================================

.advantages {
    padding-top: min(calc(30px + (88 - 30) * ((100vw - 320px) / (1440 - 320))), 88px);
    padding-bottom: min(calc(30px + (88 - 30) * ((100vw - 320px) / (1440 - 320))), 88px);

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        display: inline-grid;
        padding: 15px 0;
        grid-template: auto auto / 85px 1fr;

        @media (max-width: $md2+px) {
            min-width: 280px;
        }

        @media (max-width: $md3+px) {
            grid-template: auto auto / auto 1fr;
        }
    }

    &__icon {
        text-align: center;
        align-self: center;
        grid-row: span 2;

        @media (max-width: $md3+px) {
            padding: 0 15px 0 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        margin: 0 0 calc(2px / 18px * 1em) 0;
    }

    &__text {
        line-height: 150%;
        color: $grayColor;
    }
}

// ==================================================================================================================

.products {
    padding-bottom: min(calc(30px + (44 - 30) * ((100vw - 320px) / (1440 - 320))), 44px);

    &__container {}

    &__title {
        margin: 0 0 calc(32px / 40px * 1em) 0;
    }

    &__items {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }

    &__item {}

    &__footer {
        padding: 32px 0 0 0;
        text-align: center;
    }

    &__more {
        border: 1px solid $orangeColor;
        min-width: 245px;

        &._hold {
            opacity: .2;
            cursor: default;
        }
    }
}

.item-product {
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            .item-product__actions {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        right: min(calc(10px + (24 - 10) * ((100vw - 320px) / (1440 - 320))), 24px);
        top: min(calc(10px + (24 - 10) * ((100vw - 320px) / (1440 - 320))), 24px);
    }

    &__label {
        flex: 0 0 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }

        &_sale {
            background-color: #e97171;
        }

        &_new {
            background-color: #2ec1ac;

        }
    }

    &__image {
        // 301 - height of image, 285 - width of the image
        padding: 0 0 calc(301px / 285px * 100%) 0;
    }

    &__body {
        flex: 1 1 auto;
        padding: 16px 16px 30px 16px;
        display: flex;
        flex-direction: column;
    }

    &__content {
        flex: 1 1 auto;
    }

    &__title {
        font-size: min(calc(20px + (24 - 20) * ((100vw - 320px) / (1440 - 320))), 24px);
        font-weight: 600;
        line-height: 120%;
        margin: 0 0 calc(8px / 24px * 1em) 0;
    }

    &__text {
        color: $grayColor;
        line-height: 150%;
        margin: 0 0 calc(8px / 24px * 1em) 0;
    }

    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        line-height: 150%;
    }

    &__price {
        font-size: min(calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320))), 20px);
        font-weight: 600;

        &_old {
            font-size: min(calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320))), 16px);
            font-weight: normal;
            margin: 0 0 0 16px;
            color: #b0b0b0;
            text-decoration: line-through;
        }
    }

    &__actions {
        @media (any-hover: none) {
            padding: 15px 0 0 0;
        }

        @media (any-hover: hover) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease 0s;
            background-color: rgba(58, 58, 58, .74);
            z-index: 3;
        }
    }
}

.action-product {

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__button {
        flex: 1 1 100%;

        &:not(:last-child) {
            margin: 0 0 24px 0;
        }

        &._hold {
            opacity: .2;
            cursor: default;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: inherit;
        font-weight: 600;
        transition: color .3s ease 0s;

        &::before {
            margin: 0 10px 0 0;
            font-size: 16px;
        }

        @media (any-hover: hover) {
            color: #fff;

            &:hover {
                color: $orangeColor;
            }
        }
    }
}

// ==================================================================================================================

.cart-list {
    overflow: auto;
    max-height: 200px;

    &__image {
        flex: 0 0 100px;
        height: 100px;
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 10px;
    }

    &__title {
        color: inherit;
        font-weight: 600;
        transition: color .3s ease 0s;
        margin: 0 0 calc(5px / 16px * 1em) 0;

        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__quantity {
        font-size: 14px;
        margin: 0 0 calc(5px / 14px * 1em) 0;
    }

    &__delete {
        color: red;
        font-size: 14px;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
            margin: 0 0 15px 0;
        }
    }
}

// ==================================================================================================================

.rooms {
    background-color: #fcf8f3;
    padding-top: min(calc(30px + (44 - 30) * ((100vw - 320px) / (1440 - 320))), 44px);
    padding-bottom: min(calc(30px + (44 - 30) * ((100vw - 320px) / (1440 - 320))), 44px);

    &__container {
        @media (min-width: $md2+px) {
            display: flex;
        }
    }

    &__body {
        // desired block width / container width * 100%
        flex: 0 0 calc(456 / 1240 * 100%);
        position: relative;
        z-index: 5;
        align-self: center;

        @media (min-width: $md2+px) {
            padding-right: min(calc(30px + (80 - 30) * ((100vw - 320px) / (1440 - 320))), 80px);
        }

        @media (max-width: $md2+px) {
            margin: 0 0 30px 0;
        }
    }

    &__title {
        text-align: left;

        &:not(:last-child) {
            margin: 0 0 calc(8px / 40px * 1em) 0;
        }
    }

    &__text {
        line-height: 150%;
        font-weight: 500;

        &:not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    &__button {
        background-color: $orangeColor;
        color: #fff;
        min-width: 180px;

        @media (any-hover: hover) {
            &:hover {
                background-color: #8d6146;
            }
        }
    }

    &__slider {
        flex: 1 1 auto;
        min-width: 0;
        align-self: flex-start;

        @media (max-width: $md4+px) {
            margin: 0 -15px;
        }
    }

}


.slider-rooms {
    position: relative;

    &__body {
        overflow: visible;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            z-index: 2;
            background-color: #fcf8f3;
            transform: translate(-100%, 0);
        }
    }

    &__slide {
        width: 372px;
        position: relative;
        overflow: hidden;
        min-height: min(calc(400px + (585 - 400) * ((100vw - 320px) / (1440 - 320))), 585px);

        &.swiper-slide-active {
            .slider-rooms__image {
                height: 100%;
            }
        }

        @media (max-width: $md4+px) {
            width: 100%;
        }
    }

    &__image {
        transition: height .3s ease 0s;
        height: 100%;

        @media (min-width: $md3+px) {
            height: 83%;
        }
    }

    &__content {
        position: absolute;
        color: inherit;
        max-width: 240px;
        left: min(calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320))), 24px);
        bottom: min(calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320))), 24px);
        padding: min(calc(15px + (32 - 15) * ((100vw - 320px) / (1440 - 320))), 32px);
        background-color: rgba(255, 255, 255, .9);

        // if browser supports 'backdrop-filter' then use it otherwise bg-c
        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background-color: rgba(255, 255, 255, .72);
            backdrop-filter: blur(31px);
        }

        &::before {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(100%, 0);
            width: 48px;
            height: 48px;
            background-color: $orangeColor;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__label {}

    &__title {
        font-weight: 600;
        left: min(calc(24px + (28 - 24) * ((100vw - 320px) / (1440 - 320))), 28px);
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        // 24px - 1/2 arrow icon width
        left: 24px;
        // 48px - arrow icon width
        width: calc(100% - 48px);
        transform: translate(0, -50%);
        z-index: 5;
        justify-content: space-between;

        @media (min-width: $md1+px) {
            left: -24px;
            width: calc(100% + 48px);
        }
    }

    &__dots {
        @media (min-width: $md3+px) {
            position: absolute;
            bottom: 30px;
            // 396px - slider width + gap between sliders
            left: 396px;
            width: 100%;
        }


        @media (max-width: $md3+px) {
            justify-content: center;
            padding: 15px 0 0 0;
        }
    }
}

.label-slider {
    display: grid;
    gap: 8px;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto 27px auto;
    color: $darkGrayColor;

    &:not(:last-child) {
        margin: 0 0 8px 0;
    }

    &__number {}

    &__line {
        height: 1px;
        background-color: $darkGrayColor;
    }

    &__text {}
}

// ==================================================================================================================

.tips {
    padding-top: min(calc(30px + (44 - 30) * ((100vw - 320px) / (1440 - 320))), 44px);
    padding-bottom: min(calc(30px + (44 - 30) * ((100vw - 320px) / (1440 - 320))), 44px);

    &__container {}

    &__title {}

    &__slider {}
}

.slider-tips {
    position: relative;

    &__body {
        margin-left: min(calc(-15px + (-32 - -15) * ((100vw - 320px) / (1440 - 320))), -32px);
        margin-right: min(calc(-15px + (-32 - -15) * ((100vw - 320px) / (1440 - 320))), -32px);
        padding: min(calc(15px + (32 - 15) * ((100vw - 320px) / (1440 - 320))), 32px);
    }

    &__slider {
        display: flex;
        flex-direction: column;
        transition: box-shadow .3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 32px rgba(97, 97, 97, .2);
            }
        }
    }

    &__image {
        padding: 0 0 calc(251px / 291px * 100%) 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 15px;
        flex: 1 1 auto;
        align-items: flex-start;
    }

    &__title {
        flex: 1 1 auto;
        color: inherit;
        font-weight: 600;
        line-height: 120%;
        font-size: min(calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320))), 24px);
        transition: all .3s ease 0s;

        &:not(:last-child) {
            margin: 0 0 calc(8px / 24px * 1em) 0;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__text {
        color: $grayColor;
        font-size: 14px;
        line-height: 150%;
    }

    &__dots {
        padding-top: min(calc(0px + (8 - 0) * ((100vw - 320px) / (1440 - 320))), 8px);
        justify-content: center;
    }

    &__arrows {
        pointer-events: none;
        position: absolute;
        top: 50%;
        // 24px - 1/2 arrow icon width
        left: 24px;
        // 48px - arrow icon width
        width: calc(100% - 48px);
        transform: translate(0, -50%);
        z-index: 5;
        justify-content: space-between;

        @media (min-width: $md1+px) {
            left: -24px;
            width: calc(100% + 48px);
        }

        @media (max-width: $md3+px) {
            display: none;
        }
    }
}